body {
    background-image: url(Pics/background2.jpg);
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px; /* 50% */
    }
}

header {
    background-image: url(Pics/Header.jpg);
    width: 100%;
    height: 40%;
    margin-top: 5%;
    opacity: 0.8;
    border-style: dotted;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-position: hanging;
    /*float:;*/
}

li {
    float: left;
    font-size: xx-large;
    font-weight: bolder;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #c2c2a3;
            color: black;
        }

.active {
    background-color: #4CAF50;
}

main {
    float: right;
    background-color: white;
    margin-top: 20%;
    width: 50%;
    height: 200%;
}

footer {
    background-color: white;
    opacity: 0.4;
    font-family: 'Segoe Script';
    text-align: end;
    margin-top: 5%;
}

#txtAboutUs::outside {
    margin: 20px,20px,20px,20px;
    width: 500px;
    height: 500px;
    text-align: center;
    background-color: red;
}

lable {
    color: white;
}

button {
    width: 20%;
    height: 5%;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    font-family: Cooper;
    background-color: #66ff99;
    color: black;
    margin-left: 10%;
    margin-top: 5%;
    opacity: 1.2;
    border-radius: 15px;
    text-align: center;
    border-style: outset;
    border-color: greenyellow;
    background-color: yellow;
}

#txtInput {
    width: 70%;
    height: 20%;
    margin-left: 5%;
    margin-top: 5%;
    float: right;
}

#txtItem, #txtDate, #txtCalories, #txtMarks {
    font-size: large;
    font-family: Cooper;
}

th {
    color: white;
}
/*td{
    color:black;
    background:yellow;
    height:10px;
    width:25%;
}
tr{
    color:red;
    background:red;
}*/

.even {
    background: #39e600;
    width: 200%;
    border-radius: 3%;
    border-style: solid;
}

.odd {
    background: green;
    width: 100%;
    border-radius: 3%;
    border-style: solid;
    border-width: 3px;
}

td {
    width: 90px;
    color: white;
    margin-left: 30px;
}

tr {
    /*margin-left: 30px;*/
    height: 40px;
    margin: 30px;
}

th {
    background-color: white;
    color: black;
    width: 90px;
}

table {
    width: 100%;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}
#tblDiary{
    margin-top:10%;
}
